# Ignore node_modules (dependencies will be installed inside the container)
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore local environment files
.env
.env.local
.DS_Store

# Ignore build output (we only need the final build)
build

# Ignore Git-related files
.git
.gitignore

# Ignore editor and system files
.vscode
.idea
*.swp
