.tagNode {
  place-self: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.tagName {
  color: #3090e2;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.tagDescription {
  margin-bottom: 5px;
}

.tagQCount {
  background-color: #308fe257;
  padding: 5px;
  border-radius: 5px;
}